
<script src="/javascripts/glist.js"></script>
<script src="/javascripts/cart.js"></script>
<link rel="stylesheet" type="text/css" href="/css/glist.css">
<link rel="stylesheet" type="text/css" href="/css/cart.css">

<%= render "/home/nav"%>

<div id="cart-main" class="main-box">
    <div class="goods-box">
        <div class="table-header">
            <span class="list-header header-product">product</span>
            <span class="list-header header-col-price">price</span>
            <span class="list-header header-col-num">num</span>
            <span class="list-header header-col-total">total</span>
        </div>
        <div class="empty-goods-info">
            <img src="/images/icons/empty-cart.png" class="empty-goods-icon"/>
            <p class="empty-goods-text">Your cart is empty, enjoy your shopping now!</p>
        </div>
        <div class="goods-list">
            <!--
            <p class="list-good-item" gid=$gid>
                <span class="list-good col-tickbox"><label class="good-tick" tick="no"></label></span>
                <img class="list-good col-cover"/>
                <span class="list-good col-product">iphonefsdfsdf dsfdsfsdfsdfffsdf</span>
                <span class="list-good col-price">¥1524</span>
                <span class="list-good col-num">30</span>
                <span class="list-good col-total">¥4572</span>
            </p>
            -->
        </div>
        <div class="goods-summary">
            <span class="summary-unit">
                <span class="good-tick tick-all goods-tick-all" tick="no" gid="all"></span>
            </span>
            <span class="goods-all-text summary-unit">select all</span>
            <span class="goods-delete-text summary-unit button">delete</span>
            <span class="goods-counts-text summary-unit">counts:</span>
            <span class="goods-counts-val summary-unit pink-color">0</span>
            <span class="goods-fee-text summary-unit">total money:</span>
            <span class="goods-fee-symbol summary-unit pink-color">¥</span>
            <span class="goods-fee-val summary-unit pink-color">0</span>
            <span class="goods-commit summary-unit button">commit</span>
        </div>
    </div>
</div>

<%= render "/home/footer"%>


