

<div>
    <p>Dear <%= @lastname%> <%= @firstname%>,</p>
    <p class="email-body">Congratulations on your successful order on the Phone Star shopping website. The products you choose will be sent to your address at full speed, please wait patiently. Your order number is <%= @order_id%> and the total fee is <%= @money%>. You can query the order details information on the phonestar shopping website.</p>
    <p>Best regards,</p>
    <p>Phone Star</p>
</div>


<style type="text/css">
p{
    margin:0
}

.email-body{
    margin:10px 0px;
}

</style>













