#footer-box{
    margin-top:30px;
    padding-bottom:30px;
    border:none;
}

.footer-bar{
    height:1px;
    border: 1px var(--theme-color) solid;
    margin-bottom:15px;
}

.footer-items{
    width:260px;
    height:30px;
    line-height: 30px;
    color:rgb(40, 40, 40);
    font-size: 12px;
    margin:auto;
}
.foot-item{
    margin:0px 15px;
    cursor:pointer;
    font-weight: bold;
    display:inline-block;
}
.foot-item:hover{
    color:rgb(150, 150, 150);
}
.footer-center-text{
    font-size:12px;
    color:rgb(40, 40, 40);
    text-align: center;
    font-weight: bold;
}




















