#home-main{
    height:320px;
}

#goods-movie{
    width:900px;
    height:320px;
    overflow: hidden;
    position: relative;
}
#movie-img-list{
    width:4500px;
    height:320px;
}
.movie-img-list img{
    width:900px;
    height:320px;
    display:block;
    float:left;
}
.img-no-wrap{
    position:absolute;
    width:140px;
    height:15px;
    left:380px;
    bottom:10px;
}
.movie-img-no{
    width:14px;
    height: 14px;
    margin:0px 7px;
    border-radius: 50%;
    display:block;
    float:left;
    background:rgba(255,255,255,0.7);
    cursor:pointer;
}
.movie-img-no:hover{
    background:rgba(255,255,255,0.2);
}


.main-display{
    width:900px;
    min-height:40px;
    margin-top:50px;
}
.main-display-header{
    height:40px;
    background:rgb(18, 177, 12);
    line-height:40px;
    font-size:15px;
    padding-left:10px;
    font-weight: bold;
    padding-top:2px;
    color:rgba(255,255,255,0.7);
    margin-bottom:5px;
}
.main-good-list{
    width:900px;
    height:180px;
    overflow: visible;
}
.main-good-list img{
    width:170px;
    height:170px;
    top:5px;
    left:5px;
    display:block;
    border-radius:10px;
    position:absolute;
}
.main-good-list img:hover{
    top:0px;
    opacity:0.6;
}
.main-img-wrap{
    width:180px;
    height:180px;
    float:left;
    position: relative;
    cursor:pointer;
}























