<script src="/javascripts/check.js"></script>
<script src="/javascripts/glist.js"></script>
<script src="/javascripts/order.js"></script>
<link rel="stylesheet" type="text/css" href="/css/glist.css">
<link rel="stylesheet" type="text/css" href="/css/order.css">
<link rel="stylesheet" type="text/css" href="/css/check.css">

<%= render "/home/nav"%>

<div id="order-main">
    <div id="order-address-box" class="order-box">
        <h1 class="order-box-title">Mail Adress</h1>
        <div>
            <p class="order-text-tag"><span>Last name:</span><span id="lastname-error" class="input-error-msg"></span></p>
            <input id="order-lastname" class="order-address-common" type="text" placeholder="Enter your last name"/>
        </div>
        <div>
            <p class="order-text-tag"><span>First name:</span><span id="firstname-error" class="input-error-msg"></span></p>
            <input id="order-firstname" class="order-address-common" type="text" placeholder="Enter your first name"/>
        </div>
        <div>
            <p class="order-text-tag"><span>Province:</span><span id="province-error" class="input-error-msg"></span></p>
            <input id="order-province" class="order-address-common" type="text" placeholder="Enter your province">
        </div>
        <div>
            <p class="order-text-tag"><span>City:</span><span id="city-error" class="input-error-msg"></span></p>
            <input id="order-city" class="order-address-common" type="text" placeholder="Enter your city">
        </div>
        <div>
            <p class="order-text-tag"><span>Detail:</span><span id="address-error" class="input-error-msg"></span></p>
            <textarea id="order-address" type="textarea" placeholder="Enter your detailed address"></textarea>
        </div>
        <div>
            <p class="order-text-tag"><span>Zip Code:</span><span id="zipcode-error" class="input-error-msg"></span></p>
            <input id="order-zipcode" class="order-address-common" type="text" placeholder="Enter your zipcode"/>
        </div>
        <div>
            <p class="order-text-tag"><span>Email:</span><span id="address-email-error" class="input-error-msg"></span></p>
            <input id="order-email" class="order-address-common" type="text" placeholder="Enter your email"/>
        </div>
    </div>
    <div class="goods-box">
        <div class="table-header">
            <span class="list-header header-product">product</span>
            <span class="list-header header-col-price">price</span>
            <span class="list-header header-col-num">num</span>
            <span class="list-header header-col-total">total</span>
        </div>
        <div class="empty-goods-info">
            <img src="/images/icons/empty-cart.png" class="empty-cart-icon"/>
            <p class="empty-goods-text">Your cart is empty, enjoy your shopping now!</p>
        </div>
        <div class="goods-list">
            <!--
                content format is similar to goods list in cart page
            -->
        </div>
        <div class="goods-summary plain-summary">
            <span class="goods-counts-text summary-unit">counts:</span>
            <span class="goods-counts-val summary-unit pink-color">0</span>
            <span class="goods-fee-text summary-unit">total money:</span>
            <span class="goods-fee-symbol summary-unit pink-color">¥</span>
            <span class="goods-fee-val summary-unit pink-color">0</span>
            <span class="goods-commit summary-unit button">commit</span>
        </div>
    </div>
</div>

<%= render "/home/footer"%>




































