<script src="/javascripts/footer.js"></script>
<link rel="stylesheet" type="text/css" href="/css/footer.css">

<div class="clear"></div>

<div id="footer-box" class="main-box">
    <p class="footer-bar" class="theme-back-color"></p>
    <p class="footer-items"><span class="foot-item">DEVELOP DETAILS</span><span>|</span><span class="foot-item">CONTACT ME</span></p>
    <p class="footer-center-text">Copyright . All RIGHTS RESERVED.</p>
</div>