<%= render "/home/nav"%>

<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="/javascripts/main.js"></script>

<div id="home-main" class="main-box">
    <div id="goods-movie">
        <div class="movie-img-list">
            <!--
            <img id="img1" class="movie-img" src="/images/others/LG-G8X-ThinQ-open-on-table-4-1200x675.jpg"/>
            <img id="img2" class="movie-img" src="/images/others/moment-fisheye-14mm-coltonjacobs-3924.jpg"/>
            <img id="img3" class="movie-img" src="/images/others/OnePlus-7T-Pro-color-haze-blue-1200x675.jpg"/>
            <img id="img4" class="movie-img" src="/images/others/ROG-Phone-2-Rear-shot-of-LED-1200x675.jpg"/>
            <img id="img5" class="movie-img" src="/images/others/Samsung-Galaxy-S10-camera-detail-1200x676.jpg"/>
            -->
        </div>
        

        <div class="img-no-wrap">
            <!--
            <span class="movie-img-no"></span>
            <span class="movie-img-no"></span>
            <span class="movie-img-no"></span>
            <span class="movie-img-no"></span>
            <span class="movie-img-no"></span>
            -->
        </div>
    </div>

    <div class="main-display">
        <p class="main-display-header">Best Sell</p>
        <div id="best-sell-list" class="main-good-list">
            <!--
            <a href="/good/detail?good_id=$gid"><div gid=$gid class="main-img-wrap"><img src="$cover" /></div></a>
            -->
        </div>
    </div>

    <div class="main-display">
        <p class="main-display-header">Good Price</p>
        <div id="low-price-list" class="main-good-list">
            <!--
            <a href="/good/detail?good_id=$gid"><div gid=$gid class="main-img-wrap"><img src="$cover" /></div></a>
            -->
        </div>
    </div>

    <div class="main-display">
        <p class="main-display-header">Hight Quality</p>
        <div id="high-price-list" class="main-good-list">
            <!--
            <a href="/good/detail?good_id=$gid"><div gid=$gid class="main-img-wrap"><img src="$cover" /></div></a>
            -->
        </div>
    </div>
</div>

<%= render "/home/footer"%>
































