<script src="/javascripts/records.js"></script>
<link rel="stylesheet" type="text/css" href="/css/records.css">

<%= render "/home/nav"%>

<div id="records-main" class="main-box">
    <div id="records-table">
        <p id="records-header"><span class="col-ip">ip</span><span class="col-time">time</span><span class="col-path">path</span></p>
        <div id="records-list">
            <!--
            <p class="records-row">
                <span class="col-ip">127.127.127.127</span>
                <span class="col-time">2020-04-16 11:18:51</span>
                <span class="col-path">/good/detail</span>
            </p>
            <p class="records-row">
                <span class="col-ip">127.127.127.127</span>
                <span class="col-time">2020-04-16 11:18:51</span>
                <span class="col-path">/good/detail</span>
            </p>
            <p class="records-row">
                <span class="col-ip">127.127.127.127</span>
                <span class="col-time">2020-04-16 11:18:51</span>
                <span class="col-path">/good/detail</span>
            </p>
            -->
        </div>
    </div>
</div>
























