<script src="/javascripts/search_page.js"></script>
<link rel="stylesheet" type="text/css" href="/css/search.css">

<%= render "/home/nav"%>

<div id="search-main">
    <div id="results-basic">
        <p id="results-basic-text">we have found <span id="results-counts">0</span> goods related to your search: <span id="search-keywords"></span></p>
    </div>
    <div id="goods-list">
        <!--
        <div class="good-unit-box">
            <img src="/images/goods/O1CN01aaKDIz1qZctlUDK2F_!!2202135510.jpg" class="good-list-img"/>
            <p class="unit-titles">Apple IPhone 11 Full Netcom Apple 11 Genuine Mobile Phone X Legal Channels Official Xr Official Website 8Plus Flagship Store Xsmax New Product 11promax</p>
            <p class="unit-sales"><span class="unit-price-span">¥</span><span class="unit-price-span">560</span><span class="unit-sold-span">158</span><span class="unit-sold-span">sold</span></p>
        </div>
        -->
    </div>
</div>

<%= render "/home/footer"%>



























