    <script src="/javascripts/userbasicedit.js"></script>
    
    
    <div id="center-basic-edit" class="center-content-box  center-basic-box">
        <p id="basic-save-action" class="content-action-wrap"><span class="content-action">Save</span><span id="save-icon" class="action-icon"></span></p>
        <div class="edit-block">
            <p><span>First name:</span><span id="firstname-error" class="input-error-msg"></span></p>
            <p><input id="edit-firstname" type="text" name="firstname"/></p>
        </div>
        <div class="edit-block">
            <p><span>Last name:</span><span id="lastname-error" class="input-error-msg"></span></p>
            <p><input id="edit-lastname" type="text" name="lastname"/></p>
        </div>
        <div class="edit-block">
            <p><span>Province:</span><span id="province-error" class="input-error-msg"></span></p>
            <p><input id="edit-province" type="text" name="province"/></p>
        </div>
        <div class="edit-block">
            <p><span>City:</span><span id="city-error" class="input-error-msg"></span></p>
            <p><input id="edit-city" type="text" name="city"/></p>
        </div>
        <div class="edit-block">
            <p><span>Detail Address:</span><span id="address-error" class="input-error-msg"></span></p>
            <p><input id="edit-address" type="text" name="address"/></p>
        </div>
        <div class="edit-block">
            <p><span>Zip Code:</span><span id="zipcode-error" class="input-error-msg"></span></p>
            <p><input id="edit-zipcode" type="text" name="zipcode"/></p>
        </div>
        <div class="edit-block">
            <p><span>Email:</span><span id="email-error" class="input-error-msg"></span></p>
            <p><input id="edit-email" type="text" name="email"/></p>
        </div>
    </div>


















