    <script src="/javascripts/userbasic.js"></script>
    
    <div id="center-basic" class="center-content-box center-basic-box">
        <p id="basic-edit-action" class="content-action-wrap"><span class="content-action">Edit</span><span id="edit-icon" class="action-icon"></span></p>
        <p><span class="basic-tag">First name:</span><span id="basic-firstname" class="basic-value">None</span></p>
        <p><span class="basic-tag">Last name:</span><span id="basic-lastname" class="basic-value">None</span></p>
        <p><span class="basic-tag">Province:</span><span id="basic-province" class="basic-value">None</span></p>
        <p><span class="basic-tag">City:</span><span id="basic-city" class="basic-value">None</span></p>
        <p><span class="basic-tag">Detail address:</span><span id="basic-address" class="basic-value">None</span></p>
        <p><span class="basic-tag">Zip code:</span><span id="basic-zipcode" class="basic-value">None</span></p>
        <p><span class="basic-tag">Email:</span><span id="basic-email" class="basic-value">None</span></p>
    </div>