    <script src="/javascripts/userorders.js"></script>
    
    <div id="center-orders" class="center-content-box center-orders-box">
        <div id="center-order-list">
            <div class="single-order template"  order_id=#order_id>
                <div class="order-header">
                    <p class="order-header-date"><span class="order-header-tag">date:</span><span>#date</span></p>
                    <p class="order-header-order"><span class="order-header-tag">order:</span><span>#order_id</span></p>
                    <p class="order-header-total"><span class="order-header-tag">total:</span><span class="pink-color">¥</span><span class="pink-color">#total</span></p>
                </div>
                <div class="order-items">
                    <p><span class="order-item-tag">Name:</span><span class="order-item-val">#name</span></p>
                    <p><span class="order-item-tag">Province:</span><span class="order-item-val">#province</span></p>
                    <p><span class="order-item-tag">City:</span><span class="order-item-val">#city</span></p>
                    <p><span class="order-item-tag">Address:</span><span class="order-item-val">#address</span></p>
                    <p><span class="order-item-tag">Zipcode:</span><span class="order-item-val">#zipcode</span></p>
                    <p><span class="order-item-tag">Email:</span><span class="order-item-val">#email</span></p>
                </div>
                <div class="order-action-icon order-action-detail"></div>
                <div class="order-action-icon order-action-delete"></div>
            </div>
        </div>
    </div>
























