    <script src="/javascripts/centerpwd.js"></script>
    
    <div id="center-password" class="center-content-box center-password-box">
        <div class="edit-block">
            <p><span>New password:</span><span id="password-error" class="input-error-msg"></span></p>
            <p><input id="edit-password" type="password" name="firstname"/></p>
        </div>
        <div class="edit-block">
            <p><span>Confirm new password:</span><span id="confirm-error" class="input-error-msg"></span></p>
            <p><input id="edit-confirm-password" type="password" name="lastname"/></p>
        </div>
        <input id="commit-password" type="button" value="commit"/>
    </div>














